
body{text-align:center;font-family:sans-serif;background:#f5f0e8;}
.m{width:250px;}
.bar{width:80%;height:20px;background:#ddd;margin:auto;border-radius:10px;overflow:hidden;}
#friendFill{height:100%;width:50%;background:linear-gradient(to right,pink,green);}
